.background::before {
    background-image: url(../IMGS/P1-BG-ANIMALS.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    flex-grow: 1;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}