.background::before {
    background-image: url(../IMGS/P1-BG-ANIMALS.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    flex-grow: 1;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.columns{
    margin-top: 20px;
    margin-left: 10px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#cool-text {
    font-family: "chantal", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 82px;
}

.subtitle {
    font-family: "chantal", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 26px;
}

.card {
    border: 1px solid black;
}